<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="client_id" value="573666532240-if0c71ucpoalr6uo3dfci5uo4af4okvq.apps.googleusercontent.com"/>
    <add key="client_secret" value="jrq99RzMRsbyOnPFShq1ptPt"/>
  </appSettings>
</configuration>
